.outerborder{
  
    
   // border: 1px solid black;
    padding:50px 50px 50px 50px ;
    
    width:auto;
    height:auto;
    margin: auto;
   

    
    background-color:darkgray;
    color:black;
    display:inline-block;
  }